	<% @post.comments.each do |comment| %>
		<p>
		  <b>Commenter:</b>
		  <%= comment.user.username %>
		</p>
	 
		<p>
		  <b>Comment:</b>
		  <%= comment.body %>
		</p>
		
		<p>
			<%= comment.comment_likes.size %> people likes this.
		</p>
		
		<p>
			<%= link_to 'Destroy Comment', [comment.post, comment],
							:confirm => 'Are you sure?',
							:method => :delete %> |
      <%= link_to 'Like', [comment, comment.comment_likes.build],
							:method => :create %>
		</p>
	<% end %>
